* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #d99782;
}

#home {
    text-align: center;
    padding: 3rem 0;
    background: linear-gradient(135deg, #a9c9fc, #fcd8a9);
    /* Gradient background */
    color: #3a2315;
    /* Dark brown text color */
    font-family: 'Lumanosimo', cursive;
}

#home h1 {
    font-size: 3rem;
    margin-bottom: 1rem;

}

#home h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}


#projects {
    padding: 3rem 0;
    text-align: center;
}

#projects h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Bungee Spice', cursive;
}

#projects ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}

#projects li {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#projects h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-image {
    width: 300px;
    /* Adjust the width as needed */
    height: 200px;
    /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
}

#projects p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#projects a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #33d243;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#projects a:hover {
    background-color: #d37d63;
}


#skills {
    padding: 3rem 0;
    text-align: center;
}

#skills h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Bungee Spice', cursive;
}

#skills ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#skills li {
    background-color: #125eb4;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 20px;
}

/* About.css */
#about {
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about h2 {
    color: #333;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Bungee Spice', cursive;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    text-align: justify;
}

/* Optional: Add media query to adjust layout on smaller screens */
@media (max-width: 768px) {
    #about {
        padding: 20px;
    }
}


/* Center and style the #contact section */
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    background-color: #f7f7f7;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
    font-family: 'Bungee Spice', cursive;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: 400px;
    width: 100%;
}

#contact input,
#contact textarea,
#contact button {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
}

#contact textarea {
    resize: vertical;
}

#contact button {
    background-color: #a82cbb;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact button:hover {
    background-color: #18b833;
}

/* Add subtle box shadow to form elements on focus */
#contact input:focus,
#contact textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 87, 34, 0.7);
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

footer p {
    font-size: 1rem;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}